{% load static %}

{% include "home/includes/head.html" %}


<div class="demo-layout-transparent mdl-layout mdl-js-layout">

    {% include "home/includes/navbar.html" %}

    <main class="mdl-layout__content">
        <div class="content-wrapper">


            {% include "home/includes/searchform.html" %}

            <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer__left-section">
                    <div class="mdl-logo">Spot On</div>
                    <ul class="mdl-mini-footer__link-list">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Privacy & Terms</a></li>
                    </ul>
                </div>
            </footer>

        </div>
    </main>
</div>


{% include "home/includes/scripts.html" %}
