{% load static %}

{% include "home/includes/head.html" %}


<div class="demo-layout-transparent mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--transparent">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Spot On</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href=""></a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Spot On</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href=""></a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="content-wrapper">


            {% include "home/includes/searchform.html" %}

            <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer__left-section">
                    <div class="mdl-logo">Spot On</div>
                    <ul class="mdl-mini-footer__link-list">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Privacy & Terms</a></li>
                    </ul>
                </div>
            </footer>

        </div>
    </main>
</div>


{% include "home/includes/scripts.html" %}
