{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'home/css/main.css' %}"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body id="myPage">



<div class="demo-layout-transparent mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--transparent" >
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Spot On</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href=""></a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Spot On</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href=""></a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="content-wrapper">

                        <!-- First Grid -->
            <div class="item" data-aos="zoom-in-up">
                <div class="w3-row-padding w3-padding-64 w3-container">
                    <div class="w3-content">
                        <div class="w3-twothird ">
                            <h1>Don't be like an Archaeologists 🕵🏾‍♂️</h1>
                            <h5 class="w3-padding-32">Traditional sites and collectors of original Jordan sneakers are hard to find
                                and
                                after
                                you find one, they ask for bank 💰. Spot-On have all collected sneakers for cheap and you don't have
                                to
                                hunt
                                for us. </h5>

                            <p class="w3-text-grey"> Since, original signed sneakers are very hard to find, sites and people who
                                hunt to
                                get
                                one either just keep a collection for themselves or sell it. But, they sell it for expensive.
                                Spot-On
                                have
                                dedicated it time to do the hunting and the search for these shoes for you to get access to them
                                easily
                                and
                                cheaper. Thanks us later 🤗!
                            </p>
                        </div>

                        <div class="w3-third w3-center">
                            <i class="w3-padding-64 w3-text-red"></i>
                        </div>
                    </div>
                </div>

            </div>


            <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer__left-section">
                    <div class="mdl-logo">Spot On</div>
                    <ul class="mdl-mini-footer__link-list">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Privacy & Terms</a></li>
                    </ul>
                </div>
            </footer>

        </div>
    </main>
</div>

<script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>


<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
<script src="{% static 'home/js/main.js' %}"></script>
