{% load static %}

{% include "home/includes/head.html" %}
{% include "home/includes/extras/intro.html" %}

<div id="fullpage">
    <!-- Image Header -->
    <div class="first-section section">
        <h1 class="intro-heading">Spot On</h1>
        <p class="intro-desc">
            Easily find the shoes you've always wanted!
        </p>
        <div class="intro-buttons">
            <a href="/" class="start-exploring">Start exploring</a>
            <a href="/" class="start-exploring">Take a look at our team!</a>
        </div>
    </div>

    <!-- Team Container -->
    <div class="second-section section" id="team" >
        <h2>MEET THE TEAM</h2>

        <div>

            <div class="grid-33">
                <img src={% static '/home/images/john.jpg' %} alt="JohnAsare" style="width:45%" class="w3-circle w3-hover-opacity">
                <h3>John Asare</h3>
                <p>Front-end <br> <i> Takes care of the entire HTML and the CSS implementation. Also the document the software documentation and architecture design. </i></p>
            </div>

            <div class="grid-33">
                <img src={% static 'home/images/Jon.jpg' %} alt="Diaz" style="width:45%" class="w3-circle w3-hover-opacity">
                <h3>Jon Diaz </h3>
                <p>Database <br> <i> Takes care of the entire database. Use SQL to modified and implements the SQL interaction. Manages and update the database </i></p>
            </div>

            <div class="grid-33">
                <img src={% static 'home/images/Nga.jpg' %} alt="Lam" style="width:45%" class="w3-circle w3-hover-opacity">
                <h3>Lam Nguyen</h3>
                <p>Back-end <br> <i>Handles all the job at the back-end. Takes finished front-end and database work and gives it a working functionality. Also, database creation, integration and management.</i></p>
            </div>
        </div>
    </div>

    <!-- Work Row -->
    <div class="section w3-row-padding w3-padding-64 w3-theme-l1" id="work">

        <div class="w3-quarter w3-animate-left">
            <h2>Our Work</h2>
            <p>Spot-On, a powerful and curated group who mission is to make it easier for you to find original sneakers. Orginal sneakers is dominating the market and there are high profit of it: <a href="https://www.marketwatch.com/investing/stock/nke" target="_blank"> check the stock.</a> People who buy these aunthentic sneakers travels to other states to hunt them. Our mission to bring it to them on their finger-nails</p>
        </div>

        <div class="w3-quarter ">
            <div class="w3-card w3-white">
                <img src="/w3images/fjords.jpg" alt="Vernazza" style="width:100%">
                <div class="w3-container">
                    <h3>Search </h3>
                    <p> <i> Our search box is the core heart of our design. It has been design to take user's description of a shoes and to crawl the database to return the expected sneakers that the user is looking for. Literrally, this will save users a ton of time </i></p>
                </div>
            </div>
        </div>

        <div class="w3-quarter">
            <div class="w3-card w3-white">
                <img src="/w3images/lights.jpg" alt="Cinque Terre" style="width:100%">
                <div class="w3-container">
                    <h3>Database</h3>
                    <p> <i> Our database is a combination of nike.com API and our own database of research description of popular sneakers. We have implemented it to march with user input. But it will add any unkown input if it encouters one. This help user's search </i> </p>
                </div>
            </div>
        </div>

        <div class="w3-quarter">
            <div class="w3-card w3-white">
                <img src="/w3images/mountains.jpg" alt="Monterosso" style="width:100%">
                <div class="w3-container">
                    <h3>Customer 3</h3>
                    <h4>Trade</h4>
                    <p>Blablabla</p>
                    <p>Blablabla</p>
                    <p>Blablabla</p>
                    <p>Blablabla</p>
                </div>
            </div>
        </div>

    </div>

    <!-- feedback container -->
    <div class="section w3-container w3-padding-64 w3-theme-l5" id="contact">
        <div class="w3-row">
            <div class="w3-col m5">
                <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Give Us Feedback! ---> </span></div>

            </div>
            <div class="w3-col m7">
                <form class="w3-container w3-card-4 w3-padding-16 w3-white" action="/action_page.php" target="_blank">
                    <div class="w3-section">
                        <label>Name</label>
                        <input class="w3-input" type="text" name="Name" required>
                    </div>
                    <div class="w3-section">
                        <label>Email</label>
                        <input class="w3-input" type="text" name="Email" required>
                    </div>
                    <div class="w3-section">
                        <label>Message</label>
                        <input class="w3-input" type="text" name="Message" required>
                    </div>
                    <input class="w3-check" type="checkbox" checked name="Like">
                    <label>I Like it!</label>
                    <button id="myBtn" class="w3-button w3-right w3-theme" onclick="javascript:alert('Thank you!')">Send
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="section intro-footer">
        {% include "home/includes/footer.html" %}
    </div>
</div>

{% include "home/includes/scripts.html" %}
