.content-wrapper {
    margin: 0 auto;
}

.result-area {
    max-width: 1300px;
}

.mdl-cell {
    color: #fff;
}

.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
}

.demo-card-square > .mdl-card__title {
    color: #fff;
}

.product-name {
    font-size: 1.4em;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    color: #333;
}
.material-icons {
    line-height: 42px !important;
}
.search-box-container {
    position: relative;
    max-width: 584px;
    margin: 0 auto;
    display: block;
    height: 44px;
}
#search-box label {
    display: none;
}
.bootstrap-tagsinput {
    width: 100%;
    display: flex !important;
    overflow: auto;
    min-height: 40px;
    outline: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08) !important;
    border-width: 1px 0px 0px 0px !important;
    border-color: rgba(0,0,0,0.16) !important;
    border-radius: 1px !important;
}
.bootstrap-tagsinput:hover {
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08) !important;
}
.bootstrap-tagsinput input {
    padding: 10px;
    font-size: 18px;
}

span.label-info {
    background-color: #f1f8ff;
    color: #666 !important;
    padding: 3px 0 3px 4px;
}
span.label-info span {

}

.step-links {
    display: block;
    text-align: center;
    float: none;
    position: relative;
    margin: 0 auto;
}
footer.mdl-mini-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .mdl-layout__content {
        padding-top: 64px;
    }
}
