/*
*
* main components
*/
body {
    opacity: 0;
}
.content-wrapper {
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

/*
*
* Nav bar
*/
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    color: #333;
}

.mdl-layout__header-row .mainpage-nav .mdl-navigation__link {
    color: #424242;
}

#navbar {
    position: fixed;
    z-index: 100;
    width: 100%;
}

#navbar ul {
    list-style-type: none;
    display: block;
}

#navbar .right-menu li {
    padding-left: 20px;
}

#navbar ul li {
    display: inline-block;
    padding: 15px;
}
#navbar .right-menu li {

}

#navbar a {
    color: #fff;
    cursor: pointer;
    font-size: 1.5em;
    text-decoration: none;
}
#navbar a:hover {
    text-decoration: underline;
}

.menu-mobile-button {
    position: fixed;
    z-index: 100;
    top: 50;
    left: 50;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    font-size: 1.5em;
    color: #333;
    cursor: pointer;
}


.material-icons {
    line-height: 42px !important;
    color: black;
}

.mdl-layout__header--transparent.mdl-layout__header--transparent {
    background-color: grey;
    color: white;
    box-shadow: none;
}

/*
*
* Search box area
*/
.search-box-container-wrapper {
    position: relative;
    padding: 50px;
}
.search-box-container {
    position: relative;
    max-width: 584px;
    margin: 0 auto;
    display: block;
}
.spoton-logo {
    max-height: 150px;
    width: 100%;
}
#search-box {
    position: relative;
}
#search-box label {
    display: none;
}
.bootstrap-tagsinput {
    width: 100%;
    display: flex !important;
    overflow: hidden;
    min-height: 40px;
    outline: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08) !important;
    border-width: 1px 0px 0px 0px !important;
    border-color: rgba(0,0,0,0.16) !important;
    border-radius: 1px !important;
}
.bootstrap-tagsinput:hover {
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08) !important;
}
.bootstrap-tagsinput input {
    padding: 10px;
    font-size: 18px;
    width: 100% !important;
}

span.label-info {
    background-color: #f1f8ff;
    color: #666 !important;
    padding: 8px 0 3px 4px;
}
span.label-info span {

}
.search-button {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: #fff;
    background-color: #932F6D;
    cursor: pointer;
    display: block;
    width: 50%;
    margin: 50px auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    padding: 25px 60px;

}
.search-button:hover {
    opacity: 0.9;
}

/*
*
* Result area
*/
.result-area {
    max-width: 1300px;
}
.result-grid {
    padding: 15px !important;
}
.demo-card-square.mdl-card {
    width: 100%;
}

.demo-card-square > .mdl-card__title {
    color: #fff;
    position: relative;
}
.mdl-card__supporting-text {
    padding: 25px !important;
}

.mdl-card__supporting-text hr {
    border-top: 2px solid !important;
    width: 90%;
}

.product-name {
    font-size: 1.4em;
    line-height: 1.5em;
    font-weight: 700;
}

.step-links {
    display: block;
    text-align: center;
    float: none;
    position: relative;
    margin: 0 auto;
}

.mdl-button {
    color: #f06060 !important;
}


/*
*
* Footer
*/
.mdl-mini-footer {
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    color: white !important;
}
.non-fixed-footer .mdl-mini-footer {
    position: relative;
}

/*
*
* Media
*/
@media only screen and (max-width: 1024px) {
    .mdl-layout__content {
        padding-top: 64px;
    }
}


/*
*
*
* Intro page
*/
.section {
    color: #fff;
}
.intro-heading {
    color: #fff;
    text-align: center;
    font-size: 150px;
}
.intro-desc {
    text-align: center;
    color: #fff;
    font-size: 2em;
    padding-bottom: 50px;
}
.intro-buttons {
    display: block;
    width: 100%;
    text-align: center;
}
.start-exploring {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 20px 50px;
    font-size: 25px;
    border-radius: 5px;
    border: none;
    background: #3E4C5E;
    display: inline-block;
    color: #fff;
    max-width: 300px;
    margin: 0 auto;
    position: relative;
}
.start-exploring:last-child {
    background-color: #F2C14E;
    color: #333;
    margin-left: 15px;
}
.start-exploring:hover {
    opacity: 0.95;
}
.team-member .demo-card-wide {
    max-width: 350px !important;
    background-image: url('/static/home/images/stars-background.png');
    background-size: 150%;
    border-radius: 5px !important;
}
.demo-card-wide .mdl-card__title {
    height: 200px;
}
.demo-card-wide .mdl-card__title img {
    height: 100%;
    display: block;
    margin: 0 auto;
}
.team-member:nth-child(2n+1) .demo-card-wide {
    background-color: #55D6BE !important;
}
.team-member:nth-child(2n+2) .demo-card-wide {
    background-color: #F7C548 !important;
}
.team-member:nth-child(2n+3) .demo-card-wide {
    background-color: #B4436C !important;
}
.team-member:nth-child(2n+1) .demo-card-wide .mdl-card__supporting-text,
.team-member:nth-child(2n+2) .demo-card-wide .mdl-card__supporting-text {
    color: #333;
}
.team-member:nth-child(2n+3) .demo-card-wide .mdl-card__supporting-text {
    color: #fff;
}

.team-member .mdl-card__supporting-text {
    padding: 0 30px 10px !important;
    color: #fff;
    width: auto !important;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #fff !important;
}

.feedback-header {
    padding: 30px;
}
.feedback-header h2 {
    line-height: 2em;
}
.feedback-form label {
    font-size: 2em;
    margin: 20px 0;
    line-height: 2.3em;
}
.feedback-input {
    width: 100%;
    min-height: 45px;
    font-size: 20px;
    border-radius: 5px;
}
.feedback-submit {
    padding: 20px;
    background-color: #7DBBC3;
    color: #333;
    font-size: 1.4em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}
.feedback-submit:hover {
    opacity: 0.9;
}
@media only screen and (max-width: 1025px) {
    .section {
        padding-bottom: 80px;
    }
    .team-member {
        padding-bottom: 50px;
    }
    .about-us-grid {
        padding-bottom: 50px;
    }
    .about-us-grid p {
        font-size: 1.5em;
    }
    .about-us-grid img {
        max-width: 500px;
        display: block;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 768px) {
    .start-exploring {
        padding: 15px 25px;
        font-size: 1.2em;
    }
    .team-member .demo-card-wide {
        display: block;
        margin: 0 auto;
    }
}

/*
*
*
Log in
*/
.login-wrapper {
    text-align: center;
}

.login-wrapper form p label,
.login-wrapper form p input {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 40%;
    min-width: 300px;
}
.login-wrapper form p label {
    font-size: 1.2em;
    padding: 20px 0;
}

.login-wrapper form p input {
    min-height: 45px;
    border: none;
    font-size: 1.3em;
    border-radius: 5px;
}

.login-wrapper form button,
.login-wrapper form a {
    padding: 10px 30px;
    height: auto !important;
    margin-top: 30px;
}

.login-wrapper form button {
    color: #fff !important;
    background-color: #1F7A8C !important;
}

.login-wrapper form a {
    color: #333 !important;
    background-color: #FFCF56 !important;
    margin-left: 20px;
}

/*
*
*
Sign up
*/
.signup-wrapper {
    display: block;
    text-align: center;
    padding: 50px 0;
}
.signup-wrapper label {
    font-size: 1.2em;
    padding: 0;
    display: block;
}
.signup-wrapper input {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 40%;
    min-width: 300px;
    min-height: 45px;
    font-size: 1.2em;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.signup-wrapper button {
    padding: 10px 30px;
    height: auto !important;
    margin-top: 30px;
    background-color: #FFCF56 !important;
    color: #333 !important;
}

/*
*
*
Misc
*/
.text-center {
    text-align: center;
}

.section-header {
    padding-bottom: 20px;
    font-size: 80px;
}
