<header class="main-navbar mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Spot On</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation mainpage-nav">
            <a class="mdl-navigation__link" href="/intro">About us</a>
            <a class="mdl-navigation__link" href="/login">Log in</a>
        </nav>
    </div>
</header>
<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Spot On</span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/intro">About us</a>
        <a class="mdl-navigation__link" href="/login">Log in</a>
    </nav>
</div>
